<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XBC Streaming Services</title>
</head>
<body>
{% extends "base.html" %}
{% block title %}Genre Selection{% endblock %}
{% block content %}
    <h1 class="text-danger text-center"><b>WARNING TO EVALUATOR</b></h1><br>
    <h3>This project focuses on building the recommendation engine feature, not the "already existing" XBC platform. <br><br> Imagine this is the home page for XBC Streaming Services. <br><br> Click <b><u>Get Recommendations</u></b> in the navigation bar to let us recommend films for you.</h3>
    <br><br>
    <h4>- Thank you!</h4>
</body>
{% endblock %}
</html>