{% extends "base.html" %}
{% block title %}Genre Selection{% endblock %}
{% block header %}
<link rel="stylesheet" href="../static/style.css">
{% endblock %}
{% block content %}

<h1 class="mb-4" style="text-align:center;"><b>Recommendation Questionnaire</b></h1>
<h3 class="mb-3" style="text-align:center;">Select up to 5 of your favorite movie genres</h3><br>

<form method="POST" action="/liked-movies">
    <div class="row row-cols-2 row-cols-md-3 g-4">
        {% for genre,image in genres.items() %}
        <div class="col">
            <label class="card genre-card shadow-sm text-white"
       style="height: 180px; position: relative; background-size: cover; background-position: center; background-image: url('https://image.tmdb.org/t/p/w300{{ image }}');">

                <input type="checkbox" name="genres" value="{{ genre }}" class="form-check-input genre-checkbox" style="position: absolute; top: 10px; right: 10px; transform: scale(1.8);">
                <div class="card-body d-flex align-items-center justify-content-center" style="background: rgba(0, 0, 0, 0.4); height: 100%;">
                    <h5 class="card-title text-center w-100"><b>{{ genre|upper }}</b></h5>
                </div>
            </label>
        </div>
        {% endfor %}
    </div>

    <br>
    <button type="submit" class="btn btn-primary" id="next-button" disabled>Next</button>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const checkboxes = document.querySelectorAll('.genre-checkbox');
        const nextButton = document.getElementById('next-button');

        function updateState() {
            const checkedCount = document.querySelectorAll('.genre-checkbox:checked').length;
            nextButton.disabled = checkedCount === 0;
            checkboxes.forEach(cb => {
                if (!cb.checked) cb.disabled = checkedCount >= 5;
                else cb.disabled = false;
            });
        }

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', updateState);
        });

        updateState()
    });
</script>

{% endblock %}
