{% extends "base.html" %}

{% block title %}Movie Recommendations{% endblock %}

{% block content %}
{% if recommended_movies.recommended_movies %}
    <h2>Recommended Movies</h2>
    <ul>
        {% for movie in recommended_movies.recommended_movies %}
            <div class="carousel-item">
            <img src="..." alt="...">
            <div class="carousel-caption d-none d-md-block">
                <li>{{ movie['title'] }}</li>
                <li>{{ movie['vote_average'] }}</li>
                <li>{{ movie['release_date'] }}</li>
                <li>{{ movie['runtime'] }}</li>
                <li>{{ movie['overview'] }}</li>
                <h5>...</h5>
                <p>...</p>
            </div>
        </div>
     

        {% endfor %}
    </ul>
{% endif %}
{% endblock %}