{% extends "base.html" %}

{% block title %}Select Movies{% endblock %}

{% block content %}
<h3><b>Select Movies You Enjoy</b></h3>
<br>
<h4>Based on your favorite genres, here are some movies you may have seen.</h4>


<form method="post" action="/liked-movies">
    {% for genre in selected_genres %}
        <input type="hidden" name="genres" value="{{ genre }}">
    {% endfor %}
    <br>
    <span>Not seeing anything familiar?</span>
    <button type="submit" name="shuffle" value="true">Shuffle Suggestions</button>
</form>
<br>
<form method="post" action="/recommend-movies">
    {% if movie_data %}
        {% for genre, movies in movie_data.items() %}
        <br>
        <br>
            <h3>Category: {{ genre|upper }}</h3>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-4"">
                {% for movie in movies %}
                    <div class="col">
                        <div class="card h-100 text-center shadow-sm">
                            {% if movie.poster_path %}
                            <img src="{{ movie.poster_path }}" class="card-img-top img-fluid" style="object-fit: cover; aspect-ratio: 2/3; max-height: 300px;" alt="{{ movie.title }}"><br>

                            {% endif %}
                            <div class="card-body py-2">
                            <h6 class="card-title mb-1"><b>{{ movie.title }}</b></h6>
                            <p class="card-text small mb-1">
                                ⭐️ {{ movie.vote_average }} / 10</p>
                            <p class="card-text fs-6 mb-1">
                                {{ movie.release_date[:4] }}<br>
                                {{ movie.runtime }} min</p>
                        
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input movie-checkbox" name="movies" value="{{ movie.title }}">
                                <label class="form-check-label">Select</label>
                            </div>
                            </div>
                        </div>
                        </div>
                {% endfor %}
            </div>
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-primary">Get Recommendations</button>
    {% else %}
        <p>No movies available for the selected genres.</p>
    {% endif %}
</form>
{% endblock %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        const maxChecked = 20;

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', () => {
                const checkedCount = document.querySelectorAll('input[type="checkbox"]:checked').length;
                if (checkedCount > maxChecked) {
                    checkbox.checked = false;
                    alert("You can only select up to ${maxChecked} genres.");
                }
            });
        });
    });
</script>
